.collapse__task {
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #fff;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 8px;
}

.collapse__task_btn {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.collapse__task_btn:hover {
  color: gray;
}

.collapse__task_btn:active {
  color: gray;
}

.collapse__task_paragraph {
  height: 60px;
  margin: 0;
  display: block;
  transition: 1s ease;
}

.hidden {
  display: none;
}

@media (max-width: 1760px) and (min-width: 1613px) {
  .collapse__task_paragraph {
    height: 55px;
  }
}

@media (max-width: 1612px) and (min-width: 1140px) {
  .collapse__task_paragraph {
    height: 75px;
  }
}

@media (max-width: 1139px) and (min-width: 1038px) {
  .collapse__task_paragraph {
    height: 95px;
  }
}

@media (max-width: 1037px) and (min-width: 926px) {
  .collapse__task_paragraph {
    height: 115px;
  }
}

@media (max-width: 925px) and (min-width: 795px) {
  .collapse__task_paragraph {
    height: 135px;
  }
}

@media (max-width: 794px) {
  .collapse__task_paragraph {
    height: 155px;
    overflow: hidden;
  }
}
