.dcmpn__input_wrapper {
  position: relative;
  margin: auto;
  padding: 1rem 1.5rem;
  max-width: 700px;
  width: 70%;
}

.decmpn__input_logo {
  width: 14%;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: -80px;
  top: 8px;
}

.decmpn__input {
  width: 84%;
  padding: .3rem .6rem;
  margin-right: 1%;
}

.decmpn__input_btn {
  box-sizing: border-box;
  width: 15%;
  padding: .3rem .6rem;
}

.decmpn__input_example {
  font-size: .9rem;
}

.decmpn__input_example_variant {
  color: gray;
}
